* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
  }
  
     html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }

  body {
    background-image: url("../images/back-pic.png");
    background-color: hsl(0, 100%, 74%);
  }

  h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;

  }

  .content-wraper {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
  }

   p {
      color: #fff;
      text-align: center;
      font-family: 'Poppins', sans-serif;
  }
  .header-text p {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }
  .box-container {
    justify-content: center;
    align-items: center;
  }
  .content-box {
    background-color: hsl(248, 32%, 49%);
    padding: 20px 10px;
    border-radius: 10px;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
  }
  form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
    gap:16px;
    padding: 16px 20px;
    border-radius: 10px;
  }

  button {
    background-color: hsl(154, 59%, 51%);
    padding: 20px 26px;
    border-radius: 10px;
    border-color: #fff;
    color: #fff;
    text-transform: uppercase;
  }
  .button-p {
    color:  hsl(246, 25%, 77%);
  
  }
  span {
    color:hsl(0, 100%, 74%);
  }
  form input[type="text"] {
    width: 100%;
    font-weight: 400;
    padding: 12px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

    @media only screen and (min-width: 768px) {

      .content-wraper {
        flex-direction: row;
        justify-content: center;
        padding: 100px;
      }
      .header-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      h1 {
        font-size: 36px;
        text-align: left;
      }

      .header-text p {
        text-align: left;
      }
    
    
   

   

    
    }
  @media only screen and (min-width: 1440px) {
  
 

  
  
  }

